:root {
    --clr-primary-300: #F3EED9;
    --clr-primary-400: #824936;

    --clr-neutral-100: #ffffff;
    --clr-neutral-900: #222C2A; 

    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Display', serif;
}

/* BASIC RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

/* GLOBAL STYLES */

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.5;
}

/* UTILITY CLASSES */

